.dice {
  width: 70%;
  height: 70%;
  background-size: cover;
  z-index: 1;
  /* transform: translate(200px, 200px); */
  /* transition: transform 0.4s; */
}

.dice:hover {
  cursor: grab;
}

.dice:active {
  cursor: grabbing;
}
